html {
     height: 100%;
     display: flex;
}

 body {
     margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background: #181620;
     perspective: 500px;
	 color: #b09e99;
}

#ip-button {
  color: #b09e99;
  border: 2.5px solid #b09e99;
  border-radius: 15px;
  background-color: transparent;
  font-size: 200px;
}

#ip-button:hover {
  cursor: pointer;
}
